@import "../../styles/MediaQueries.scss";

.auth-card {
  background: #252525;

  display: flex;
  border-radius: 4px;
  margin: 0 auto;
  color: #fff;

  &-left {
    width: 450px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25px;
    color: rgba(255, 255, 255, 0.74);
    padding: 70px;
    box-sizing: border-box;
    position: relative;
    height: 900px;
    @include tabletWidth {
      display: none;
    }

    .logo-container {
      width: 250px;
      height: 250px;
      margin: 0 auto;
      position: absolute;
      bottom: 50%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .bottom-section {
      position: absolute;
      bottom: 100px;
      left: 0;
      margin-top: auto;
      padding: 70px;

      .title {
        color: rgba(255, 255, 255, 0.87);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.5px;
      }
    }
  }
  &-right {
    position: relative;
    width: 400px;
    padding: 60px 0px 0px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.76);
    box-sizing: border-box;
    border-radius: 0px 4px 4px 0px;
    padding-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include phoneWidth {
      width: 100%;
      border: none;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
    @include phoneXSWidth {
      height: 850px;
    }
    @include tabletHeight {
      padding: 10px 0px 60px 0px;
      border-radius: 4px;
      .title {
        margin-top: 0px;
        margin-bottom: 10px;
        line-height: 15px;
      }
    }
    .title {
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.15px;
      margin-top: 10px;
      margin-bottom: 20px;
    }

    .icon {
      margin-right: 0.4em;
    }
    .footer {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(37, 37, 37, 0.9);
      border-radius: 0px 0px 4px 0px;
      text-align: center;
      color: #fff;
      padding: 15px;
      span {
        color: #4285f4;
        cursor: pointer;
      }
      @include tabletWidth {
        border-radius: 0px 0px 4px 4px;
      }
      @include phoneWidth {
        border-radius: 0;
      }
    }
  }
}

.auth-card-height {
  -webkit-transition: max-height 1s ease-out;
  -moz-transition: max-height 1s ease-out;
  -ms-transition: max-height 1s ease-out;
  -o-transition: max-height 1s ease-out;
  transition: max-height 1s ease-out;
  max-height: 1000px;
}
.diff-name {
  -webkit-transition: max-height 1s ease-out;
  -moz-transition: max-height 1s ease-out;
  -ms-transition: max-height 1s ease-out;
  -o-transition: max-height 1s ease-out;
  transition: max-height 1s ease-out;
  max-height: 791px;
}
a {
  text-decoration: none;
}
a:hover {
  color: #00b !important;
}
button:hover {
  background-color: #00b !important;
}
