@import "../../styles/MediaQueries.scss";
@keyframes move {
  from {
    opacity: 0;
    transform: translate3d(0, 2%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// @keyframes moveUp {
//   from {
//     opacity: 0;
//     transform: translate3d(0, 2%, 0);
//   }
//   to {
//     opacity: 1;
//     transform: translate3d(0, 0, 0);
//   }
// }

.signup-form {
  padding: 0 50px;
  height: 650px;
  animation: move .5s ease-out;


  .input-control {
    height: 80px;
  }
  @include phoneWidth {
    height: 100%;
  }
  @include phoneXSWidth {
    padding: 20px;
  }
  .remindme {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    margin-bottom: 20px;
    .forgot {
      color: #4285f4;
      cursor: pointer;
    }
  }
  button {
    margin-bottom: 1.5em;
    background: #4285f4;
  }
  .or {
    margin-bottom: 1.5em;
    text-align: center;
  }
  .icon-section {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 300px;
    button {
      width: 16px;
      height: 40px;
      background: #4285f4;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      padding: 0 !important;
      img {
        margin: 0 auto;
      }
      &:nth-child(2) {
        background: #2867b2;
      }
      &:nth-child(3) {
        background: #f25022;
      }
    }
  }
}
